
@{
    ViewBag.Title = "GetProduct";
    Layout = "~/Areas/StockManagement/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="~/Scripts/App/Area/Stock/Masters/Product.js"></script>
@*@using (Html.BeginForm("SetProduct", "Masters", new { area = "StockManagement" }, FormMethod.Post, new { style = "margin-top:60px" }))
{*@
<form action="/" method="post" style="margin-top:60px" id="proform">
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">Add Product</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="hidden" value="0" id="productid" name="productid" />
                            <label>Select Category</label>
                            <select id="catid" name="catid" disabled="disabled" class="disableCtrl form-control" required="required">
                                <option value="">Select Category</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Select Sub Category</label>
                            <select id="subcatid" name="subcatid" disabled="disabled" class="disableCtrl form-control" required="required">
                                <option value="">Select Sub Category</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label>Product Name</label>
                            <input type="text" required="required" class="form-control" placeholder="Enter Product Name" id="productname" name="productname" />
                        </div>
                        <div class="col-sm-12">
                            <label>Product Code</label>
                            <input type="text" placeholder="Enter Product Code" id="productcode" class="form-control" name="productcode" />
                        </div>
                        <div class="col-sm-12">
                            <label>Product Min Quantity</label>
                            <input type="text" required="required" placeholder="Enter Product Min Quantity" id="minquantity" name="minquantity" class="form-control"/>
                        </div>
                        <div class="col-sm-12">
                            <label>Description</label>
                            <input type="text" placeholder="Enter Product Description" class="form-control" id="desc" name="desc" />
                        </div>
                        <div class="col-sm-12">
                                  <label>Select Product Unit</label>
                                  <select id="unitid" name="unitid" disabled="disabled" class="disableCtrl form-control" required="required">
                                      <option value="">Select Product Unit</option>
                                  </select>
</div>
                        <div class="col-sm-12">
                            @{
                                string ViewDataName = "GetVendorJson";
                            }
                        </div>
                    </div>
                </div>
                <div class="panel-footer">@Html.Partial("_ButtonGroup", ViewDataName)</div>
            </div>
        </div>
    </div>
    <div class="popup">
        <div><img src="~/Images/Icons/if_Close_Icon_1398919.png" id="popupclose" onclick="utility.popupClose()" title="Close" alt="close" style="float: right;padding-bottom: 5px;" /></div>
        <table id="popuptable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th id="ProductName">Product</th>
                    <th id="CatName">Category</th>
                    <th id="SubCatName">Sub Category</th>
                    <th id="Description" title="Product Description">Desc</th>
                    <th id="ProductCode">ProductCode</th>
                    <th id="UnitName">Unit</th>
                    <th id="MinQuantity">Min Qty</th>
                    <th id="btnSelect">Select</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th>Desc</th>
                    <th>ProductCode</th>
                    <th>Unit</th>
                    <th>Min Qty</th>
                    <th>Select</th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>
    </form>
    @*}*@
