Myshop/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Myshop/bin/Myshop.pdb
Myshop/bin/Myshop.dll.config
DataLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataLayer/obj/Debug/DataLayer.csproj.FileListAbsolute.txt
DataLayer/bin/Debug/DataLayer.pdb
DataLayer/bin/Debug/DataLayer.dll.config
DataLayer/bin/Debug/DataLayer.dll
DataLayer/obj/Debug/edmxResourcesToEmbed/MyshopModel.msl
DataLayer/obj/Debug/edmxResourcesToEmbed/MyshopModel.csdl
DataLayer/obj/Debug/TempPE/MyshopModel.cs.dll
DataLayer/obj/Debug/DataLayer.pdb
DataLayer/obj/Debug/DataLayer.dll
DataLayer/obj/Debug/DataLayer.csprojResolveAssemblyReference.cache
Myshop/obj/Debug/TempPE/GlobalResource.Resource.Designer.cs.dll
Myshop/obj/Debug/Myshop.pdb
Myshop/bin/DataLayer.dll
Myshop.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DataLayer/obj/Debug/TempPE/MyshopModel.Designer.cs.dll
Myshop/obj/Debug/Myshop.csproj.GenerateResource.Cache
Myshop/obj/Debug/Myshop.csproj.FileListAbsolute.txt
Myshop/obj/Debug/Myshop.GlobalResource.Resource.resources
Myshop/bin/DataLayer.pdb
DataLayer/obj/Debug/edmxResourcesToEmbed/MyshopModel.ssdl
Myshop/obj/Debug/Myshop.dll
Myshop/obj/Debug/Myshop.csprojResolveAssemblyReference.cache
Myshop/bin/Myshop.dll
Myshop/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
