@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container" style="margin-top:60px;">
    <div class="row">
        <div class="col-sm-4">
            <a href="/CustomersManagement/customer/Dashboard">
                <div class="panel panel-info">
                    <div class="panel-heading">Customer Management</div>
                    <div class="panel-body">
                        <img src="~/Images/Icons/customer.png" />

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/SalesManagement/sale/dashboard">
                <div class="panel panel-info">
                    <div class="panel-heading">Sales Manangement</div>
                    <div class="panel-body">
                        <img src="~/Images/Icons/Sell.png" />

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/ExpenseManagement/ExpHome/dashboard">
                <div class="panel panel-info">
                    <div class="panel-heading">Expense Management</div>

                    <div class="panel-body"> <img src="~/Images/Icons/expense.png" /></div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a href="/Global/Main/Home">
                <div class="panel panel-info">
                    <div class="panel-heading">Global Settings</div>
                    <div class="panel-body">
                        <img src="~/Images/Icons/global.png" />

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/StockManagement/stock/Main">
                <div class="panel panel-info">
                    <div class="panel-heading">Stock Management</div>
                    <div class="panel-body">
                        <img src="~/Images/Icons/stock.png" />

                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/EmployeesManagement/Employee/Home">
                <div class="panel panel-info">
                    <div class="panel-heading">Employee Management</div>
                    <div class="panel-body">
                        <img src="~/Images/Icons/Employee.png" />

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>