@using Myshop.App_Start;
<div class="bottonGroup">
    @if (WebSession.UserCanRead == true)
    {
        <input type="button" onclick="utility.popupTableData('@Model')" value="View" />
    }
    @if (WebSession.UserCanDelete == true)
    {
        <input type="submit" id="btnDelete" value="Delete" class="hideCtrl" />
    } @if (WebSession.UserCanUpdate == true)
    {
        <input type="submit" id="btnUpdate" value="Update" class="hideCtrl" />
    } @if (WebSession.UserCanWrite == true)
    {
        <input type="submit" id="btnSave" value="Save" />
    }
    <input type="button" onclick="utility.bottonGroupManager(false,true)" value="Cancel" class="hideCtrl" />
</div>