@using Myshop.App_Start
@{
    ViewBag.Title = WebSession.Firstname + " Task List";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="~/Scripts/App/Area/Global/User/MapShop.js"></script>
<form action="/" method="post" style="margin-top:60px" id="permissionform">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading"> @WebSession.Firstname Task List</div>
            <ul id="_taskList" class="">
                @foreach (var item in WebSession.TaskList)
                {
                    <li>
                        <img alt="Avatar" class="img-circle notification-avatar" src="data:image/jpg;base64,@item.TaskCreatedByPhoto">
                        <span class="notification-title"> @item.TaskCreatedByName Assigned new task @item.TaskAssignedTime</span>
                        <p class="notification-message">@item.TaskDetails</p>
                    </li>
                }
            </ul>
            <div class="panel-body">
            </div>
        </div>
    </div>
</form>

<style>
    #_taskList li img {
        width: 50px;
        border: 1px solid black;
        border-radius: 50px;
        margin: 1px;
    }

    #_taskList li span {
           position: absolute;
    border: 1px solid green;
    border-radius: 4px;
    padding: 0px 4px;
    background: #008000b0;
    color: white;
    font-size: 11px;
    float: right;
    position: inherit;
    }

    #_taskList li p{
        position: inherit;
    margin: -36px 0 0 67px;
    }

    #_taskList li {
        border: 1px solid;
        padding: 4px;
        border-radius: 10px;
        margin: 5px;
        list-style: none;
        min-height: 62px;
    }

    #_taskList {
        padding-left: 0px;
    }

        #_taskList li a p {
            width: 80%;
            margin: -24px 0 0 64px;
        }
</style>