
@{
    ViewBag.Title = "Add App Module";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<script src="~/Scripts/App/Area/Global/Menu/AppModule.js"></script>
<form action="/" method="post" style="margin-top:0px" id="moduleform">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">Add Application Module</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Module Name</label>
                        <input type="text" class="form-control" required="required" placeholder="Enter Module Name" id="modulename" name="modulename" />
                        <input type="hidden" value="0" id="moduleid" name="moduleid" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Description</label>
                        <input type="text" placeholder="Enter Module Description" class="form-control" id="moduledesc" name="moduledesc" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                @{
                    string ViewDataName = "GetAppModuleJson";
                }
                @Html.Partial("_ButtonGroup", ViewDataName)
            </div>
        </div>
    </div>
    <div class="popup">
        <div><img src="~/Images/Icons/if_Close_Icon_1398919.png" id="popupclose" onclick="utility.popupClose()" title="Close" alt="close" style="float: right;padding-bottom: 5px;" /></div>
        <table id="popuptable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th id="ModuleName">Module Name</th>
                    <th id="Description" title="Product Description">Description</th>
                    <th id="CreatedDate">Date</th>
                    <th id="btnSelect">Select</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</form>
