
@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<script src="~/Scripts/App/Area/Global/Admin/ResetUserPassword.js"></script>
<form action="/" method="post" style="margin-top:60px" id="resetpasswordform">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">Create User</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="hidden" id="userid" name="_userid" value="0" />
                        <label>Search User</label>
                        <input type="text" class="form-control" autocomplete="off" id="txtSearchUser" maxlength="50" placeholder="Search by Name, Email or Mobile" />
                        <ul id="searchList"></ul>
                    </div>
                    <div class="col-sm-2">
                        <label></label>
                        <button id="btnResetPassword" class="btnShop" style="width: 121px !important;">Reset Password</button>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <h6>* this will update user password from random password and notify user via mail</h6>
            </div>
        </div>
    </div>
</form>
<style>
    #searchList {
        margin: 0;
        padding: 0;
    }

        #searchList li {
            background-color: beige;
            list-style: none;
            color:black;
            cursor:pointer;
        }
         #searchList li:hover {
            background-color: cornflowerblue;
        }
</style>
