
@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<script src="~/Scripts/App/Area/Global/Admin/ResetUserPassword.js"></script>
<form action="/" method="post" style="margin-top:60px" id="resetpasswordform">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">Create User</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10">
                        <input type="hidden" id="userid" name="userid" value="0" />
                        <label>Search User</label>
                        <input type="text" class="form-control" id="txtSearchUser" maxlength="50" />
                    </div>
                    <div class="col-sm-2">
                       <button class="btnShop">Reset Password</button>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </div>
</form>


