
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_MainLayoutWithoutLeftMenu.cshtml";
}
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<form action='@Url.Action("getLogin", "login")' method="post" style="margin-top:60px">
    <div class="container">
        @{
            if (ViewBag.loginStatus != null)
            {<div class="alert alert-warning text-center alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> @ViewBag.loginStatus
        </div>}

        }
        <div style="margin:0 0;">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Email</label>
                                <input type="email" required="required" class="form-control" placeholder="Email" name="username" />
                            </div>
                            <div class="col-sm-12">
                                <label>Password</label>
                                <input type="password" required="required" class="form-control" placeholder="Password" name="password" />
                            </div>
                            <div class="col-sm-3 col-sm-offset-9" style="margin-top:10px;">
                                <input type="submit" class="btn-shop" value="Log In" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="utilities">
                            @Html.ActionLink("Forget Password?", "ForgetPassword")
                            <div class="pull-right"><a href="#">Sign Up &rarr;</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>
