
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_blankLayout.cshtml";
}
<form action='@Url.Action("getLogin", "login")' method="post" style="margin-top:60px">
    <div class="container">
        @{
            if (ViewBag.loginStatus != null)
            {<div class="alert alert-warning text-center alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> @ViewBag.loginStatus
        </div>}

        }
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Login</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fas fa-envelope fa-fw"></i></span>
                                    <input class="form-control" type="email" required="required" placeholder="Email address" name="username">
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-top:10px;">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                    <input class="form-control" type="password" required="required" placeholder="Password" name="password">
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-top:10px;">
                                <button type="submit" class="btn btn-success pull-right btn-sm">
                                    <i class="fas fa-sign-in-alt black-text"></i> Log In
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                            <a class="btn btn-default btn-sm" href="@Url.Action("ForgetPassword","login")"><i class="fas fa-unlock-alt"></i> Forget Password?</a>
                            <div class="pull-right"><a class="btn btn-default btn-sm" href="#"><i class="fas fa-user-plus"></i> Sign Up</a></div>
                       
                    </div>
                </div>
            </div>
    </div>
</form>
