.shop_addIcon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 6px 6px 9px grey;
    border-radius: 60px;
    border: 1px solid #2a7fb8;
    background: #2a7fb8;
    cursor: pointer;
    z-index: 99999;
}

.shop_fgBlack{
    color:black;
}


.shop_vMiddle {
    vertical-align: middle !important;
}
.shop_hCentre
{
    text-align:center;
}
.shop_hRigth {
    text-align: right;
}

.shop_SearchControl {
    display: none;
    list-style: none;
    border: 1px solid;
    position: absolute;
    left: 144px;
    top: 35px;
    max-width: 300px;
    width: 298px;
    padding: 0;
    max-height: 150px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 0px;
    overflow-y: scroll;
    z-index: 999999999;
}

    .shop_SearchControl li {
        border-bottom: 1px solid;
        padding: 3px;
        padding-left: 10px;
        background: #fcfcff;
        cursor: pointer;
    }

        .shop_SearchControl li:hover {
            background: #d8d8d8;
            color: black;
        }
.shop_mainAlert {
    position: fixed;
    background: #0000008a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999999;
}

    .shop_mainAlert .panel {
        top: 23%;
        position: absolute;
        left: 31%;
        width: 40%;
    }

    .shop_mainAlert .panel-heading img {
        float: right;
        width: 20px;
        cursor: pointer;
    }
        .shop_mainAlert .panel-heading img:hover {
            background: #00000029;
            border-radius: 4px;
        }

.shop_hasError {
    border-bottom: 2px solid red !important;
}

.shop_invoiceLayout {
    width: 100%;
    min-height: 800px;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
}
    .shop_invoiceLayout .shopname {
        border: 1px solid #4545f1;
        background: #7070ff;
        margin: 10px;
        padding: 7px;
        color: white;
        font-size: 22px;
        font-weight: 500;
        font-family: monospace;
        text-align: left;
    }

.metric {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #DCE6EB;
}

    .metric .icon {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: #0081c2;
        text-align: center;
    }
    .metric .number {
        display: block;
        font-size: 28px;
        font-weight: 300;
    }

    .metric .title {
        font-size: 16px;
    }
    .metric p {
        margin-bottom: 0;
        line-height: 1.2;
        text-align: right;
    }

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.metric .icon i {
    font-size: 18px;
    color: #fff;
}

.weekly-summary {
    margin-bottom: 30px;
    font-weight: 300;
}

.text-right {
    text-align: right;
}

.weekly-summary .number {
    font-size: 36px;
}

.weekly-summary .percentage {
    position: relative;
    top: -7px;
}

.weekly-summary .info-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}