.shop_addIcon {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 6px 6px 9px grey;
    border-radius: 60px;
    border: 1px solid #2a7fb8;
    background: #2a7fb8;
    cursor: pointer;
    z-index: 99999;
}

.shop_fgBlack {
    color: black;
}


.shop_vMiddle {
    vertical-align: middle !important;
}

.shop_hCentre {
    text-align: center;
}

.shop_hRigth {
    text-align: right;
}

.shop_card {
    box-shadow: 3px 2px 8px 0px grey;
    border-radius: 4px;
    padding: 10px 0;
    background: white;
    margin: 10px 5px;
    width: 24% !important;
}

    .shop_card:hover {
        background-color: antiquewhite;
    }

    .shop_card i {
        padding: 5px 1px;
        width: 15%;
    }

    .shop_card div {
        float: right;
        width: 85%;
    }

        .shop_card div p:first-child {
            text-align: center;
            font-size: 1.1vw;
            color: grey;
        }

        .shop_card div p:last-child {
            font-size: 1.3vw;
            font-weight: 1000;
            text-align: center;
            overflow: hidden;
        }

.shop_noPadLeft {
    padding-left: 0px !important;
}

.shop_noPadding {
    padding: 0px !important;
}

.shop_noPadRight {
    padding-right: 0px !important;
}

.shop_floatLeft {
    float: left;
}

.fontIcon {
    margin: 5px;
    font-size: 23px;
    cursor: pointer;
}

.colorGreen {
    color: forestgreen;
}

.colorblue {
    color: blue;
}

.colorPink {
    color: pink;
}


.shop_SearchControl {
    display: none;
    list-style: none;
    border: 1px solid;
    position: absolute;
    left: 144px;
    top: 35px;
    width: 298px;
    padding: 0;
    max-height: 150px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 0px;
    overflow-y: auto;
    z-index: 999999999;
}

    .shop_SearchControl li {
        border-bottom: 1px solid;
        padding: 3px;
        padding-left: 10px;
        background: #fcfcff;
        cursor: pointer;
    }

        .shop_SearchControl li:hover {
            background: #d8d8d8;
            color: black;
        }

.shop_mainAlert {
    position: fixed;
    background: #0000008a;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999999;
}

    .shop_mainAlert .panel {
        top: 23%;
        position: absolute;
        left: 31%;
        width: 40%;
    }

    .shop_mainAlert .panel-heading img {
        float: right;
        width: 20px;
        cursor: pointer;
    }

        .shop_mainAlert .panel-heading img:hover {
            background: #00000029;
            border-radius: 4px;
        }

.popupAlert .panel-heading img {
    float: right;
    width: 20px;
    cursor: pointer;
}

    .popupAlert .panel-heading img:hover {
        background: #00000029;
        border-radius: 4px;
    }

.shop_hasError {
    border-bottom: 2px solid red !important;
}

.shop_invoiceLayout {
    width: 100%;
    min-height: 800px;
    border: 1px solid black;
    border-radius: 4px;
    background: white;
}

    .shop_invoiceLayout .shopname {
        border: 1px solid #4545f1;
        background: #7070ff;
        margin: 10px;
        padding: 7px;
        color: white;
        font-size: 22px;
        font-weight: 500;
        font-family: monospace;
        text-align: left;
    }

.metric {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #DCE6EB;
}

    .metric .icon {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        float: left;
        width: 50px;
        height: 50px;
        line-height: 50px;
        background-color: #0081c2;
        text-align: center;
    }

    .metric .number {
        display: block;
        font-size: 28px;
        font-weight: 300;
    }

    .metric .title {
        font-size: 16px;
    }

    .metric p {
        margin-bottom: 0;
        line-height: 1.2;
        text-align: right;
    }

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.metric .icon i {
    font-size: 18px;
    color: #fff;
}

.weekly-summary {
    margin-bottom: 30px;
    font-weight: 300;
}

.text-right {
    text-align: right;
}

.weekly-summary .number {
    font-size: 36px;
}

.weekly-summary .percentage {
    position: relative;
    top: -7px;
}

.weekly-summary .info-label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
}

.shop_info {
    margin-right: 5px;
    position: inherit;
    margin-bottom: 2px;
    cursor: help;
}

.notistack {
    border: 0px solid black;
    position: fixed;
    right: 10px;
    top: 95px;
    width: 300px;
    height: 100px;
    z-index: 9999999999;
    display: none;
}

.fontButton {
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}

.skyBlue-Text {
    color: #50e8e8;
}

.notistack .notiItem {
    border: 1px solid #4dddff5c;
    padding: 12px;
    background: #4dddff5c;
}

    .notistack .notiItem i {
        font-size: 30px;
    }

    .notistack .notiItem hr {
        margin: 2px 0;
    }

.lock {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a3;
    z-index: 99999999999;
    display: none;
}


.danger {
    background-color: #ff00007d;
}

.info {
    background-color: rgba(0, 188, 212, 0.5);
}

.warning {
    background-color: rgba(212, 147, 0, 0.5);
}

.success {
    background-color: rgba(0, 128, 0, 0.50);
}

.modal-open {
    margin-right: 0px !important;
}

#hoeapp-container[hoe-color-type="lpanel-bg2"] #hoe-left-panel .panel-list li.active > a .selected {
    border-right: 13px solid #ffec51;
}

.notification-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
    position: absolute;
    margin: -38px 0px 0px 42px;
}

.notification-message {
    font-size: 13px;
    margin: -21px 39px -1px !important;
    width: 229px !important;
    position: absolute !important;
    /* height: 38px; */
}

.task-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
    position: absolute;
    margin: -3px 0px 0px -4px;
    font-weight: 600;
    font-size: 13px;
    color: #62878f;
}

footer {
    position: absolute;
    bottom: 0;
    border: 1px solid black;
    background: black;
    color: wheat;
    text-align: center;
    width: 100%;
    left: 0;
    padding: 0px;
}

.shop-select {
    margin-bottom: 10px !important;
    width: 100%;
    text-align: left !important;
}

    .shop-select span {
        padding: 0 20px;
        color: dimgray;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
        font-size: 11px;
    }

    .shop-select .shop-name {
        font-size: 19px;
        padding-left: 2px;
    }

    .shop-select .shop-gstin {
    }

    .shop-select .shop-address {
        font-size: 11px;
    }

    .shop-select .shop-email {
        font-size: 11px;
    }

    .shop-select .shop-mobile {
        font-size: 11px;
    }

    .shop-select .shop-primary {
        width: 16%;
        top: 8px;
        position: absolute;
        right: 19px;
        color: white;
        padding: 4px;
    }

/*Remove arrow from left side menu*/
.noarrow:before {
    content: "" !important;
}

.stack-aside {
    margin: 7px 0 0 7px;
}

.black-text {
    color: black;
}

.greenlight-text {
    color: #72f730 !important;
}

/*Popup Table CSS*/
.paginate_button {
    padding: 4px 13px !important;
    margin-left: 4px !important;
    border-radius: 4px !important;
    background: #00d0ff !important;
    border-color: #00abd2 !important;
}

[name="popuptable_length"] {
    padding: 1px;
    border-radius: 4px;
}

.dataTables_filter [type="search"] {
    padding: 2px;
    border-radius: 5px;
    border: 1px groove #0000004f;
}

.dataTable thead tr th {
    background: darkseagreen;
    color: black;
}

#btnSelect {
    width: 43px !important;
}

.popupmodel {
    border: 1px solid;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999999999;
    height: 100%;
    background: #00000075;
    display: none;
}

table.dataTable tbody th, table.dataTable tbody td {
    padding: 4px 10px !important;
}

.shop-multiselect {
    min-width: 145px !important;
    padding: 0 !important;
    border: 1px solid #cccccc !important;
    max-height: 34px;
    height: 34px !important;
    border-radius: 4px;
    background-color: white;
}

    .shop-multiselect .defaultText {
        position: absolute;
        left: 10px;
        top: 9px;
    }

    .shop-multiselect .input-group-addon {
        border-width: 1px 0 1px 1px;
        border-color: #cccccc;
        background-color: #fff;
        padding: 0;
    }

    .shop-multiselect #_mSearch {
        border-width: 1px 1px 1px 0px;
        border-color: #cccccc;
        outline: hidden;
        width: inherit;
        max-width: 120px !important;
    }

    .shop-multiselect ul {
        box-shadow: 4px 4px 15px 0px #8080806b;
        padding: 1px;
        position: absolute;
        top: 34px;
        max-width: 145px !important;
        z-index: 99999;
        border: 1px solid;
        border-radius: 4px;
        display: none;
    }

        .shop-multiselect ul li {
            list-style: none;
            width: inherit;
            max-width: 145px !important;
            border: 1px solid #77eee3d4;
            border-width: 0 1px 1px 1px;
            background-color: #fbfbfb;
            color: black;
        }

            .shop-multiselect ul li:first-child {
                height: 50px;
            }

                .shop-multiselect ul li:first-child i {
                    cursor: pointer;
                }

            .shop-multiselect ul li:not(:first-child) {
                padding: 4px;
                cursor: pointer;
            }

                .shop-multiselect ul li:not(:first-child):hover {
                    background-color: aquamarine;
                }

    .shop-multiselect .selected {
        background: #6d6dff;
    }

    .shop-multiselect .header {
        width: 100%;
        padding: 7px;
        height: 38px;
        position: absolute;
    }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


.defaultrow td {
    background-color: #e0fbff !important;
}

.form-control-sm {
    height: 27px !important;
    padding: 2px 7px !important;
    font-size: 12px !important;
}

.pageActive {
    background: #56ffc6 !important;
}

.filterTab {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #d4d4d4;
    font-size: 11px;
}

    .filterTab li {
        list-style: none;
        border: 1px solid #d4d4d4;
        display: inline-block;
        padding: 2px 3px;
        width: auto;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        color: black;
        background: white;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        font-size: 11px;
    }

        .filterTab li:hover {
            background: #e4e2e2;
        }

.filterTabCon {
    font-size: 11px;
    border: 1px solid #d4d4d4;
    background: white;
    height: 33px;
    padding: 2px;
    border-top: 1px solid white;
    border-radius: 0 0px 6px 6px;
}

.filterTab li i {
    line-height: 0;
}

.shop-textStrike
{
    text-decoration:line-through;
}