
@{
    ViewBag.Title = "NewSells";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<form action="/" method="post" style="margin-top:10px" id="createtaskform">
    <div class="row">
        <div class="col-lg-12" style="height: 44px;background: #b0d0ff;padding: 5px;border-radius: 4px;">
            <div class="form-group col-sm-5">
                <label style="margin-top:7px;">Customer Mobile</label>
                <input style="max-width:300px;float:right;" placeholder="Customer Mobile" type="text" class="form-control" id="basic-url">
            </div>
        </div>
    </div>
</form>
