
@{
    ViewBag.Title = "ReturnInvoice";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Scripts/App/Area/Sales/ReturnInvoice.js"></script>

<div class="col-lg-12" style="height: 44px;background: #b0d0ff;padding: 5px;border-radius: 4px;">
    @Html.Partial("~/Views/shared/_SearchInvoice.cshtml")
</div>
<div class="panel panel-info">
    <div class="panel-heading">Search Invoice</div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive table-striped" id="tblInvoicedetails">
                <thead style="text-align:center">
                    <tr>
                        <th style="width:4%;"><input type="checkbox" class="form-inline" id="chkSelectAll" />Select All </th>
                        <th style="width:4%;">Sr.</th>
                        <th style="width:33%;">Product</th>
                        <th style="width:8%;">Discount</th>
                        <th style="width:19%;">Remark</th>
                        <th style="width:7%;">Purchase Price</th>
                        <th style="width:7%;">Purchase Qty</th>
                        <th style="width:10%;">Purchase Amount</th>
                        <th style="width:7%;">Return Qty</th>
                        <th style="width:19%;">Return Remark</th>
                        <th style="width:10%;">Retrn Amount</th>
                    </tr>
                </thead>
                <tbody id="tblInvoice">
                    <tr class="defaultRow">
                        <td class="shop_vMiddle"><input type="checkbox" class="form-inline" /></td>
                        <td class="shop_vMiddle">1.</td>
                        <td class="shop_vMiddle">No Product were selected yet</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td class="shop_vMiddle shop_hCentre">0.00</td>
                        <td class="shop_vMiddle shop_hCentre">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                    </tr>
                    <tr class="tdSubTotal">
                        <td colspan="6" class="shop_hRigth">Purchase Sub Total</td>
                        <td colspan="2" id="lblSubTotal" class="shop_hRigth">0.00</td>
                        <td colspan="2"  class="shop_hRigth">Return Sub Total</td>
                        <td colspan="1" id="lblRtnSubTotal" class="shop_hRigth">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="shop_hRigth">GST @@ 12%</td>
                        <td colspan="2" id="lblGst" class="shop_hRigth">0.00</td>
                        <td colspan="2" class="shop_hRigth"></td>
                        <td colspan="1" id="lblRtnGst" class="shop_hRigth">0.00</td>
                    </tr>
                    <tr>
                        <td class="shop_hRigth" colspan="6" id="lblGrandTotalWord">Zero Only</td>
                        <td colspan="2" class="shop_hRigth" id="lblGrandAmount">0.00</td>
                        <td colspan="2" class="shop_hRigth" >Return Amount</td>
                        <td class="shop_hRigth" id="lblRtnGrandAmount">0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

