
@{
    ViewBag.Title = "ReturnInvoice";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Scripts/App/Area/Sales/sale/ReturnInvoice.js"></script>

<div class="col-lg-12" style="height: 44px;background: #b0d0ff;padding: 5px;border-radius: 4px;">
    @Html.Partial("~/Views/shared/_SearchInvoice.cshtml")
</div>
<input type="hidden" id="hdnInvoiceId" value="0" />
<div class="panel panel-info" style="margin-top:20px;">
    <div class="panel-heading">Search Invoice
        <div class="pull-right invoicestatus">

        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive table-striped" id="tblInvoicedetails" style="color:black;">
                <thead style="text-align:center">
                    <tr>
                        <th style="width:4%;"><input type="checkbox" class="form-inline form-control" id="chkSelectAll" />All</th>
                        <th style="width:4%;">Sr.</th>
                        <th style="width:33%;">Product</th>
                        <th title="Purchase Discount" style="width:8%;">Discount</th>
                        <th title="Purchase Remark" style="width:19%;">Remark</th>
                        <th title="Purchase Price" style="width:7%;">Price</th>
                        <th title="Purchase Qty" style="width:7%;">Qty</th>
                        <th title="Purchase Amount" style="width:10%;">Amount</th>
                        <th style="width:7%;">Return Qty</th>
                        <th style="width:19%;">Return Remark</th>
                        <th style="width:10%;">Return Amount</th>
                    </tr>
                </thead>
                <tbody id="tblInvoice">
                    <tr class="defaultRow">
                        <td class="shop_vMiddle"><input type="checkbox" id="chkDefaultRow" class="form-inline" /></td>
                        <td class="shop_vMiddle">1.</td>
                        <td class="shop_vMiddle">No Product were selected yet</td>
                        <td>0.00</td>
                        <td>0.00</td>
                        <td class="shop_vMiddle shop_hCentre">0.00</td>
                        <td class="shop_vMiddle shop_hCentre">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                        <td class="shop_vMiddle shop_hRigth">0.00</td>
                    </tr>
                    <tr class="tdSubTotal">
                        <td colspan="6" class="shop_hRigth">Purchase Sub Total</td>
                        <td colspan="2" id="lblSubTotal" class="shop_hRigth">0.00</td>
                        <td colspan="2" title="Already return product amount is not included" class="shop_hRigth">Return Sub Total</td>
                        <td colspan="1" title="Already return product amount is not included" id="lblRtnSubTotal" class="shop_hRigth">0.00</td>
                    </tr>
                    <tr>
                        <td colspan="6" class="shop_hRigth">GST @@ 12%</td>
                        <td colspan="2" id="lblGst" class="shop_hRigth">0.00</td>
                        <td colspan="2" class="shop_hRigth"></td>
                        <td colspan="1"  title="Already return product amount is not included" id="lblRtnGst" class="shop_hRigth">0.00</td>
                    </tr>
                    <tr>
                        <td class="shop_hRigth" colspan="6" id="lblGrandTotalWord">Zero Only</td>
                        <td colspan="2" class="shop_hRigth" id="lblGrandAmount">0.00</td>
                        <td colspan="2" title="Already return product amount is not included" class="shop_hRigth">Return Amount</td>
                        <td class="shop_hRigth" title="Already return product amount is not included" id="lblRtnGrandAmount">0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer" style="height: 56px;">
        <div class="pull-right">
            <button class="btn btn-primary" id="btnSaveReturnInvoice">Save</button>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-4">
        <div class="form-group">
            <label style="float: left;width: 100%;">Payment Mode</label>
            @Html.Partial("~/Views/shared/_PaymentModeDropdown.cshtml")
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label>Refund Amount</label>
            <input type="number" value="0" class="form-control" min="0" id="txtAmountToBePaid" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label>Balance Amount</label>
            <input type="number" readonly value="0" class="form-control" min="0" id="txtBalanceAmount" />
        </div>
    </div>
</div>
<style>
    body {
        height: auto !important;
        background: #eef1f6 !important;
    }
</style>
