
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Areana Soft Solution</title>
    <link href="~/Content/App/Home/Common.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body class="container">
    <div class="row" style="padding:60px 0">
        <div class="col-lg-12">
            @RenderBody()
        </div>
    </div>
    <footer>Areana Soft Solution <i class="fas fa-copyright"> @DateTime.Now.Year</i></footer>
</body>
</html>
