@using Myshop.GlobalResource
<select required="required" class="form-control" name="bloodgroup" id="bloodgroup">
    <option value="">Select @Resource.BloodGrp</option>
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="AB+">AB+</option>
    <option value="AB-">AB-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
</select>
