<table style="width:100%;" id="tableDocType" class="table">
    <thead>
        <tr>
            <th colspan="2">
                <select id="ddlProofType" class="form-control" style="width:90%">
                    <option value="0">Select Proof Type</option>
                </select>
            </th>
            <th>
                <select id="ddlProofDoc" class="form-control" disabled="disabled" style="width:90%">
                    <option value="0">Select Proof Type</option>
                </select>
            </th>
            <th>
                <input class="form-control" id="txtDocNo" placeholder="Enter Document No" disabled="disabled" style="width:80%" />
            </th>
            <th>
                <input type="button" value="Add" id="btnAddDoc" disabled="disabled" class="btn btn-primary" />
                
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<script>

    $(document).ready(function () {
        utility.bindDdlByAjax('GetDocProofTypesListJson', 'ddlProofType');
    });

    $(document).on('change', '#ddlProofType', function () {
        var docTypeId = parseInt($(this).find('option:selected').val());
        if (docTypeId > 0) {
            utility.bindDdlByAjaxWithParam('GetDocProofsListJson', 'ddlProofDoc', { DocProofTypeId: docTypeId });
            $('#ddlProofDoc').removeAttr('disabled');
        }
        else {
            $('#ddlProofDoc').attr('disabled', 'disabled').val('0');
            $('#txtDocNo').attr('disabled', 'disabled');
            $('#btnAddDoc').attr('disabled', 'disabled');
            $('#txtDocNo').attr('placeholder', 'Enter Document No').attr('title', 'Enter Document No');
            $('#txtDocNo').val('');
        }
    });

    $(document).on('change', '#ddlProofDoc', function () {
        var docTypeId = parseInt($(this).find('option:selected').val());
        if (docTypeId > 0) {
            $('#txtDocNo').removeAttr('disabled');
            $('#txtDocNo').attr('title', 'Enter ' + $(this).find('option:selected').text() + ' No');
            $('#txtDocNo').attr('placeholder', 'Enter ' + $(this).find('option:selected').text() + ' No');
        }
        else {
            $('#txtDocNo').attr('disabled', 'disabled');
            $('#btnAddDoc').attr('disabled', 'disabled');
            $('#txtDocNo').attr('placeholder', 'Enter Document No').attr('title', 'Enter Document No').val('');
        }
    });

    $(document).on('change', '#txtDocNo', function () {
        if ($(this).val().length > 2) {
            $('#btnAddDoc').removeAttr('disabled');
        }
        else {
            $('#btnAddDoc').attr('disabled', 'disabled');
        }
    });

    $(document).on('click', '[id*="btnRemove_"]', function () {
        $(this).parent().parent().parent().remove();
        var trs = $('#tableDocType tbody tr');
        $(trs).each(function (ind, ele) {
            $(ele).find('td:eq(0)').text((ind+1).toString());
        });
    });

    $(document).on('click', '#btnAddDoc', function () {
        var tbody = $('#tableDocType tbody');
        var trs = $(tbody).find('tr');
        var data = {};
        var flag = false, docTypeText = $('#ddlProofType').find(':selected').text(), ctrlName = "";
        ctrlName = docTypeText.toLowerCase().lastIndexOf('address') > -1 ? 'address' : (docTypeText.toLowerCase().lastIndexOf('identity') > -1 ? 'identity' : '');
        data.ProofType = $('#ddlProofType').find(':selected').val();
        data.ProofDoc = $('#ddlProofDoc').find(':selected').val();
        data.docNo = $('#txtDocNo').val();
        $(trs).each(function (ind, ele) {
            var jsonData = $(ele).data('data');
            if(jsonData.ProofType==data.ProofType)
            {
                flag = true;
            }
        });
        if (flag)
        {
            utility.SetAlert('You have already added this Document Proof Type');
            return;
        }
        var trIndex = trs.length + 1;
       
        var jsonData = JSON.stringify(data);
        var html = "<tr data-data=" + jsonData + ">" +
            "<td>" + trIndex + "</td>" +
            "<td>" + docTypeText + "</td>" +
            "<td>" + $('#ddlProofDoc').find(':selected').text() + "</td>" +
            "<td>" + data.docNo + "</td>" +
            '<td><div class="btn-group" role="group" aria-label="Basic example" style="width: 100%;">' +
                  '<button type="button" id="btnEdit_"'+trIndex+'" class="btn btn-primary" style="width: 50%;">Edit</button>' +
                  '<button type="button" id="btnRemove_"' + trIndex + '" class="btn btn-danger" style="width: 50%;">Remove</button>' +
                  '<input type="hidden" name="' + ctrlName + 'DocProofId" value="' + data.ProofDoc + '" />' +
                  '<input type="hidden" name="' + ctrlName + 'DocProofNo" value="' + data.docNo + '" />' +
                '</div>' +
        "</tr>";
        $(tbody).append(html);
        $('#ddlProofType').val('0').change();
    });
</script>
<style>
    #tableDocType {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #tableDocType td, #tableDocType th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #tableDocType tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tableDocType tr:hover {
            background-color: #ddd;
        }

        #tableDocType th {
            padding: 5px 10px;
            text-align: center;
            background-color: #4CAF50;
            color: white;
        }
</style>
