<div class="shop-multiselect" placeholder="Select" data-selecteddate="">
    <span class="header"><i class="fa fa-list-ul defaultText"> Select Items</i></span>
    <ul>
        <li>
            <div class="input-group margin-bottom-sm">
                <span class="input-group-addon"><i class="fa fa-search fa-fw" aria-hidden="true"></i></span>
                <input class="form-control" id="_mSearch" data-listdata="" autocomplete="off" type="text" placeholder="Search">
            </div>
            <i class="fa fa-check pull-left" title="Select All"></i><i class="fa fa-times pull-right" title="Unselect All"></i>
        </li>
        <li>Bra</li>
        <li>Bra1</li>
        <li>Bra2</li>
        <li>Bra3</li>
    </ul>
</div>
