
@{
    ViewBag.Title = "AddCustmerType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="~/Scripts/App/Area/Customer/Master/CustomerType.js"></script>
@*@using (Html.BeginForm("SetCategory", "Masters", new { area = "StockManagement" }, FormMethod.Post, new { style = "margin-top:60px" }))
    {*@
<form action="/" method="post" style="margin-top:60px" id="custtypeform">
    <div class="container">
        <div class="holder">
            <h3 class="text-center">Add Customer Type</h3>
            <fieldset>
                <input type="hidden" value="0" id="customertypeid" name="customertypeid" />
                <div class="control">
                    <label>Customer Type</label><input type="text" required="required" placeholder="Enter Customer Type" id="customertype" name="customertype" /><p class="requiredControl">*</p>
                </div>
                <div class="control">
                    <label>Description</label><input type="text" placeholder="Enter Customer Type description" id="description" name="description" />
                </div>
            </fieldset>

            @{
                string ViewDataName = "GetCustmerTypeJson";
            }
            @Html.Partial("_ButtonGroup", ViewDataName)

        </div>
    </div>
    <div class="popup">
        <div><img src="~/Images/Icons/if_Close_Icon_1398919.png" id="popupclose" onclick="utility.popupClose()" title="Close" alt="close" /></div>
        <table id="popuptable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th id="CustomerType">Customer Type</th>
                    <th id="Description" title="Product Description">Description</th>
                    <th id="CreatedDate">Date</th>
                    <th id="btnSelect">Select</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Select</th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>
</form>
@*}*@





