
@{
    ViewBag.Title = "Ack";
    Layout = "~/Areas/StockManagement/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row forgot-wrp">
        <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2 ">
            <div class="content-card clearfix thanks">
                <div class="col-sm-3 text-center">
                    <img src="../images/thanks-img.png" alt="">
                </div>
                <div class="col-sm-9">
                    <h3>Thank you for your time...</h3>
                    <p>An email has been sent to you with password reset instructions.</p>
                    <p>Please check your email inbox. </p>
                </div>
            </div>
        </div>
    </div>
</div>

