
@{
    ViewBag.Title = "Send Notification";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}


<link href="~/Content/App/Area/StockManagement/Main.css" rel="stylesheet" />
<link href="~/Content/App/Home/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="~/Scripts/App/Area/Global/Master/SendNotification.js"></script>
<form action="/" method="post" style="margin-top:0px" id="notifyform">
    <div class="col-sm-12">
        <div class="panel panel-info">
            <div class="panel-heading">Notification List</div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-striped" id="tblNotificationList">
                    <thead>
                        <tr>
                            <th class="text-center">Sr. No.</th>
                            <th class="text-center">User Name</th>
                            <th class="text-center">Notification Type</th>
                            <th class="text-center">Message</th>
                            <th class="text-center">For All Users</th>
                            <th class="text-center">Message Expire Date</th>
                            <th class="text-center">Created Date</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody style="font-size:12px;">
                        <tr>
                            <td style="text-align:center;" colspan="8">No Pending Notications</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="popup">
        <div><img src="~/Images/Icons/if_Close_Icon_1398919.png" id="popupclose" onclick="utility.popupClose()" title="Close" alt="close" style="float: right;padding-bottom: 5px;" /></div>
        <table id="popuptable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th id="NotificationType">Notification Type</th>
                    <th id="UserName">User Name</th>
                    <th id="Message">Message</th>
                    <th id="MessageExpireDate">Message Expire Date</th>
                    <th id="CreatedDate">Date</th>
                    <th id="btnSelect">Select</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Notification Type</th>
                    <th>User Name</th>
                    <th>Message</th>
                    <th>Message Expire Date</th>
                    <th>Date</th>
                    <th>Select</th>
                </tr>
            </tfoot>
            <tbody></tbody>
        </table>
    </div>
    <img class="shop_addIcon" title="Click here for Add new Notification" src="/Images/Icons/PlusIcon.png" href="/global/Masters/GetNotification">
</form>




